* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Seven_Segment";
}
@font-face {
  font-family: "Seven_Segment";
  src: url("/TRUEMonospacedSevenSegment.ttf");
}
html, body {
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(68, 68, 68);
}
.container {
    background-color: rgb(0, 0, 0);
    max-width: 500px;
    min-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border: 5px solid rgb(255, 255, 255);
}
.display {
    padding: 10px 15px 5px 3px;
    font-size: 50px;
    background-color: gray;
    width: 100%;
    text-align: right;
    overflow-x: scroll;
}
.buttonGrid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    button {
        border: 1px solid white;
        font-size: 25px;
        height: 60px;
    }
}
.w, .b, .g {
    color: white;
    transition: 0.1s;
}
.w {
    background-color: rgb(67, 67, 67);
}
.w:hover {
    background-color: rgb(52, 52, 52);
}
.w:active {
    background-color: rgb(42, 42, 42);
    color: rgba(255, 255, 255, 0.836);
}
.g {
    background-color: rgb(52, 52, 52);
}
.g:hover {
    background-color: rgb(67, 67, 67);
}
.g:active {
    background-color: rgb(52, 52, 52);
    color: rgba(255, 255, 255, 0.836);
}
.b {
    background-color: rgb(61, 168, 255);
}
.b:hover {
    background-color: rgb(80, 176, 255);
}